*{
    font-family: 'Bebas Neue', cursive;

}
.container {
    display:flex;
    flex-direction: column;
    height: 100vh; 
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}
.content h1 {
    font-size: 75px;
}

.telaJogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.linhaBotao {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;   
}

.botao {
    width: 30%;
    margin:5px;
    padding: 15px;
    text-align: center;
    background-color: #446fd4;
    box-shadow: 3px 5px #e1e8f9;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}

.iniciar, .reiniciar {
    margin-top: 30px;
    background-color: #0d3593;
    border: 0px;
    font-size: 40px;
    padding: 2px;
    width: 145px;
    color: #fff;

}

.reiniciar {
    display: none;
}
